@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

/* Print Styles - The "Nuclear Option" */
@media print {
  /* Hide everything by default */
  body * {
    visibility: hidden;
  }

  /* Only show the print area */
  #print-area, #print-area * {
    visibility: visible;
  }

  /* Position the print area at the top-left */
  #print-area {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    margin: 0;
    padding: 0;
  }

  /* Remove browser headers/footers */
  @page {
    margin: 0;
    size: auto;
  }
}
